# Ignore the virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore all CSV files
*.csv

# Ignore data directory
data/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment configuration
.env
